src/programs/spin/spin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xml:lang="en-US"
    targetNamespace="http://med.kuleuven.be/exporl/apex/3.0/experiment"
    xmlns:apex="http://med.kuleuven.be/exporl/apex/3.0/experiment">

    <xs:include schemaLocation="prefix.xsd"/>
    <xs:include schemaLocation="screens.xsd"/>

    <xs:element name="spin">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="uri_prefix" type="apex:prefixType"></xs:element>
                <xs:element name="noises" type="apex:noisesType"/>
                <xs:element name="speechmaterials" type="apex:speechmaterialsType"/>
                <xs:element name="speaker_setup" type="apex:speakerSetupType"/>
                <xs:element name="subject_screen" type="apex:subjectScreenType"></xs:element>
                <xs:element name="experimenter_screen" type="apex:experimenterScreenType"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="subjectScreenType">
        <xs:sequence>
            <xs:element name="screen" type="apex:screenType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="experimenterScreenType">
        <xs:sequence>
            <xs:element name="screen" type="apex:screenType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="noisesType">
        <xs:sequence>
            <xs:element name="noise" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="description" type="xs:string" minOccurs="0"/>
                        <xs:element name="name" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    Name is the string that is shown in the drop down box to select the speech material.
                                    If name is not specified here, the ID will be used as the name
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="uri" type="xs:anyURI"/>
                        <xs:element name="rms" type="xs:double">
                            <xs:annotation>
                                <xs:documentation>
                                    RMS energy of the signal on disk in dBFS
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="speechmaterial" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:annotation>
                                    <xs:documentation>
                                        If a noise is specific to a speech material, the speech material can be specified here
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleContent>
                                    <xs:extension base="xs:IDREF">
                                        <!--xs:attribute name="id" use="required" type="xs:IDREF"/-->
                                        <xs:attribute name="category" type="xs:IDREF" use="optional"/>
                                    </xs:extension>
                                </xs:simpleContent>


                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="id" use="required" type="xs:ID"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="speechmaterialsType">
        <xs:sequence>
            <xs:element name="speechmaterial" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rms" type="xs:double">
                            <xs:annotation>
                                <xs:documentation>
                                    RMS energy of the signal on disk in dBFS
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" default="openset">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="openset">
                                        <xs:annotation>
                                            <xs:documentation>Open set speech material</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="child">
                                        <xs:annotation>
                                            <xs:documentation>Speech material for children, e.g., Göttinger</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="matrix">
                                        <xs:annotation>
                                            <xs:documentation>Matrix test: the user has to click together a sentence based on components shown on screen</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="values_for_mean" type="xs:positiveInteger" minOccurs="0" default="6">
                            <xs:annotation>
                                <xs:documentation>
                                    Number of trials to use for calculating the mean when processing results
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    <xs:choice>
                        <xs:element name="list" type="apex:speechmaterialListType" minOccurs="1" maxOccurs="unbounded"/>
                        <xs:element name="category" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="rms" type="xs:double" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                RMS energy of the signal on disk in dBFS
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="list" type="apex:speechmaterialListType" minOccurs="1" maxOccurs="unbounded"/>
                                </xs:sequence>
                                <xs:attribute name="id" type="xs:ID"></xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:ID"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="speechmaterialListType">
                <xs:sequence>
                    <xs:element name="speechtoken" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="uri" type="xs:anyURI"/>
                                <xs:element name="text">
                                    <xs:complexType mixed="true">
                                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                                            <xs:element name="key" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                    <xs:documentation>Keyword, to be used by the
                                                        corrector</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="skey" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                    <xs:documentation>Part of a split keyword, to be used by the
                                                        corrector.</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="b" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                    <xs:documentation>Bold</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="u" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                    <xs:documentation>Underline</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="i" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                    <xs:documentation>Italic</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:choice>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="id" type="xs:string"/>
                        </xs:complexType>
                    </xs:element>

                </xs:sequence>
                <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="speakerSetupType">
        <xs:sequence>
            <xs:element name="speaker" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="angle" type="xs:nonNegativeInteger"/>
                        <xs:element name="channel" type="xs:nonNegativeInteger"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>